[submodule "api-gateway"]
	path = api-gateway
	url = https://github.com/1234-noob/cartly-api-gateway.git
[submodule "auth-service"]
	path = auth-service
	url = https://github.com/1234-noob/cartly-auth-service.git
[submodule "user-ui"]
	path = user-ui
	url = https://github.com/1234-noob/cartly-user-ui.git
